{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/exam-onboarding.css' %}">
    <title>Get started</title>
</head>
<body>
    <nav>
        <img src="{% static 'images/brand-logo.png' %}" alt="2019 logo full trans for white.png">
        {% if schedule is None  %}  
                <a href="https://www.ashpotmicrosystems.com" target="_blank">Continue with Ashpot</a>
        {% endif %}
    </nav>

    <div class="content">
        <div class="mid">
            <div class="imgg">
                <img src="Assets/drawing.png" alt="drawing">
            </div>
            
            <h1>Good morning,  {{ schedule.user }}</h1>
            <p>Welcome to ashpot, you are about to take {{ schedule }}<br>
            You are to answer a total of {{ schedule.num_questions }} questions and the alloted time is  {{ schedule.duration }}  minutes<br>Note this exam will expire by {{ schedule.expiry_date }} 12pm<br>
            click on the button to get started </p>
            <a href="{% url 'exam' id %}" id="btn-getstarted">Start Exam</a>
            <!-- <Button>Get started</Button> -->
        </div>
    </div> 
</body>
</html>