{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashpot examination</title>
    <link rel="stylesheet" href="{% static 'css/index.css'  %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>
    <div id="container">
        <nav>
            
            <img src="{% static 'images/brand-logo.png' %}" alt="2019 logo full trans for white.png">

            <a href="https://www.ashpotmicrosystems.com">Continue with Ashpot</a>
        </nav>
    <div id="brand">
        <h1>Start assessment <br>with <span>ashpot</span></h1>
    </div>
  

   
   

    <div class="form-container">  
          <form action="{% url 'login' %}" method="post" id="form">
                {% csrf_token %}
                <div id="messages-container">
                    <!-- alert for logging error -->
                    {% if messages %}
                        {% for message in messages %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                       <strong>Hey there!</strong> {{ message }}
                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       {% endfor %}
                   {% endif %}
               </div>
             <div id="inputs-container"> 
                <label for="userid" >User ID</label><br>
                <input type="text" name="userid" id="userid" placeholder="User ID" required><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Password" required><br>
                <button id="btn-login">Login</button>
             </div>   
            </form>
    </div>
</div>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>