{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/exam-page.css' %}">
    <title>Ashot Examining Platform</title>
</head>
<body>
    <div class="container">
        {% csrf_token %}
        <div class="log">
            <img src="{% static 'images/brand-logo.png' %}" alt="Ashot Logo">
        </div>
        <div class="counter">
           <div> <p><span  id="question-number",name="question-number">0</span> of <span    id="total-questions">{{ record.num_questions }}</span></p>
          </div>
            <div><p id="examTimer">Remaining time : <span id="duration">{{ record.duration }}</span>  minutes</p></div>
        </div>
 <p id="record-id" style="display: none;">{{ record.id }}</p>
        <div class="question-container" >
            <p id="question-displayer">Sample quesetion</p>
        </div>

        <div class="options-contaner">
            <div class="optionsAC">
                <div id="optionA">
                    <input type="radio" name="options" class="opions" value="A">
                    <label for="A" id="lbl-A">Sample text A</label>
                </div>
                <div id="optionC">
                    <input type="radio" name="options" class="opions" value="C">
                    <label for="C" id="lbl-C">Sample text C</label>
                </div>
            </div>          
            <div class="optionsBD">
                <div id="optionB">
                    <input type="radio" name="options" class="opions" value="B">
                    <label for="B" id="lbl-B">Sample text B</label>
                </div>
                <div id="optionD">
                    <input type="radio" name="options" class="opions" value="D">
                    <label for="D" id="lbl-D">Sample text D</label>
                </div>
            </div>
        </div>
        <div  id="btn-container">
            
            <button id="btn-previous">Previous Question</button>
            <button id="btn-next">Next Question</button>
        </div>
        <div id="submit-container">
                <button id="btn-submit">Submit</button>
        </div>
        <!-- Custom Popup -->
<div class="overlay" id="overlay"></div>
<div class="popup" id="popup">
    <h2 id="dialog-text-header">Time's Up!</h2>
    <p id="dialog-text">Your time for the exam has ended and your answers have been submitted.</p>
    <!-- <button class="submit-btn" onclick="submitExam()">Submit</button> -->
    <button class="close-btn" onclick="closePopup()">Close</button>
</div>
</div>
      
    <!-- <script>
    
  
    </script> -->
    <script src="{% static 'js/exam.js' %}"></script>
</body>
</html>
